body {
  min-height: 2000px;
}

.navbar {
  background-color: #942911;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #e5bfa1;
}

#about {
  margin: 50px;
}

#projects {
  margin: 50px 0;
  background-color: #e5bfa1;
}
